@font-face {
    font-family: 'averta-regular';
    src: url('/fonts/averta-regular.woff2') format('woff2'),
         url('/fonts/averta-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'averta-black';
    src: url('/fonts/averta-black.woff2') format('woff2'),
         url('/fonts/averta-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'averta-bold';
    src: url('/fonts/averta-bold.woff2') format('woff2'),
         url('/fonts/averta-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'averta-semibold';
    src: url('/fonts/averta-semibold.woff2') format('woff2'),
         url('/fonts/averta-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'averta-light';
    src: url('/fonts/averta-light.woff2') format('woff2'),
         url('/fonts/averta-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'averta-thin';
    src: url('/fonts/averta-thin.woff2') format('woff2'),
         url('/fonts/averta-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'averta-extrabold';
    src: url('/fonts/averta-extrabold.woff2') format('woff2'),
         url('/fonts/averta-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta-regular_italic';
    src: url('/fonts/averta-regularitalic.woff2') format('woff2'),
         url('/fonts/averta-regularitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'averta-light_italic';
    src: url('/fonts/averta-lightitalic.woff2') format('woff2'),
         url('/fonts/averta-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta-bold_italic';
    src: url('/fonts/averta-bolditalic.woff2') format('woff2'),
         url('/fonts/averta-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.averta-regular {font-family: 'averta-regular';}
.averta-black {font-family: 'averta-black';}
.averta-bold {font-family: 'averta-bold';}
.averta-semibold {font-family: 'averta-semibold';}
.averta-light {font-family: 'averta-light';}
.averta-thin {font-family: 'averta-thin';}
.averta-extrabold {font-family: 'averta-extrabold';}
.averta-regular_italic {font-family: 'averta-regular_italic';}
.averta-light_italic {font-family: 'averta-light_italic';}
.averta-bold_italic {font-family: 'averta-bold_italic';}